*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    width:100vw;
    height:100vh;
    background-color: rgb(249, 251, 251);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1rem;
}
#press_any_key{
    height:20%;
    width:30%;
    border:2px solid black;
    /* border-radius: 5%; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    color:red;
    /* font-style: ; */
}
#keycolor{
    color:blueviolet;
}
#heading{
    font-size: 2rem;
    color: black;
}
#keycode{
    height:3rem;
    width:10rem;
    border:2px solid black;
    text-align: center;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    color:red;
    font-weight: bolder;

}
#history{
    /* height:3rem;
    width:10rem; */
    border:2px solid black;
    text-align: center;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    color:red;
    font-weight: bolder;
}
h2{
    color:purple;
    font-size: 2rem;

}